/* -------------------- */
/* BUTTONS */
/* -------------------- */

/* -------------------- */
/* DEFAULT */
/* -------------------- */
.btn {
  font-family: "Noto Sans SC", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  color: $dark-secondary;
  background-color: $light-primary;
  cursor: pointer;

  &:hover,
  &:focus,
  &.btn-hover {
    background-color: $light-tertiary;
  }

  &.btn-primary {
    color: #fff;
    background-color: $primary;
    box-shadow: 0px 2px 3px rgba(41, 98, 255, 0.2);

    &:hover,
    &:focus,
    &.btn-hover {
      background: #0039cb;
    }
  }

  &.btn-secondary {
    color: #fff;
    background-color: $secondary;
    box-shadow: 0px 2px 3px rgba(69, 90, 100, 0.2);

    &:hover,
    &:focus,
    &.btn-hover {
      background-color: #1c313a;
    }
  }

  &.btn-danger {
    color: #fff;
    background-color: $danger;
    box-shadow: 0px 2px 3px rgba(211, 47, 47, 0.2);

    &:hover,
    &:focus,
    &.btn-hover {
      background-color: #9a0007;
    }
  }

  &:disabled {
    color: $light-secondary;
    background-color: $light-primary;
    box-shadow: none;
    pointer-events: none;
  }

  /* -------------------- */
  /* OUTLINE */
  /* -------------------- */

  &.btn-outline {
    border: 1px solid $light-primary;
    background: none;

    &:hover,
    &:focus,
    &.btn-hover {
      background-color: rgba(224, 224, 224, 0.1);
    }

    &.btn-primary {
      color: $primary;
      border: 1px solid $primary;
      box-shadow: 0px 2px 3px rgba(41, 98, 255, 0.2);

      &:hover,
      &:focus,
      &.btn-hover {
        background-color: rgba(41, 98, 255, 0.1);
      }
    }

    &.btn-secondary {
      color: $secondary;
      border: 1px solid $secondary;
      box-shadow: 0px 2px 3px rgba(69, 90, 100, 0.2);

      &:hover,
      &:focus,
      &.btn-hover {
        background-color: rgba(69, 90, 100, 0.1);
      }
    }

    &.btn-danger {
      color: $danger;
      border: 1px solid $danger;
      box-shadow: 0px 2px 3px rgba(211, 47, 47, 0.2);

      &:hover,
      &:focus,
      &.btn-hover {
        background-color: rgba(211, 47, 47, 0.1);
      }
    }

    &.btn-disableShadow {
      box-shadow: none;
    }
  }

  /* -------------------- */
  /* TEXT */
  /* -------------------- */
  &.btn-text {
    background: none;

    &:hover,
    &:focus,
    &.btn-hover {
      background-color: rgba(51, 51, 51, 0.1);
    }

    &:disabled {
      color: $light-secondary;
      box-shadow: none;
      pointer-events: none;
    }

    &.btn-primary {
      color: $primary;
      box-shadow: 0px 2px 3px rgba(41, 98, 255, 0.2);

      &:hover,
      &:focus,
      &.btn-hover {
        background-color: rgba(41, 98, 255, 0.1);
      }
    }

    &.btn-secondary {
      color: $secondary;
      box-shadow: 0px 2px 3px rgba(69, 90, 100, 0.2);

      &:hover,
      &:focus,
      &.btn-hover {
        background-color: rgba(69, 90, 100, 0.1);
      }
    }

    &.btn-danger {
      color: $danger;
      box-shadow: 0px 2px 3px rgba(211, 47, 47, 0.2);

      &:hover,
      &:focus,
      &.btn-hover {
        background-color: rgba(211, 47, 47, 0.1);
      }
    }

    &.btn-disableShadow {
      box-shadow: none;
    }
  }

  /* -------------------- */
  /* OPTIONS */
  /* -------------------- */

  &.btn-disableShadow {
    box-shadow: none;
  }

  &.btn-startIcon {
    span {
      font-size: 14px;
      line-height: 20px;
      margin-right: 8px;
      vertical-align: top;
    }
  }

  &.btn-endIcon {
    span {
      font-size: 14px;
      line-height: 20px;
      margin-left: 8px;
      vertical-align: top;
    }
  }

  &.btn-sizeSM {
    padding: 6px 12px;
  }

  &.btn-sizeMD {
    padding: 8px 16px;
  }

  &.btn-sizeLG {
    padding: 11px 22px;
  }
}
