/* -------------------- */
/* Layout */
/* -------------------- */

#container {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  .container-left-col {
    max-width: 240px;
  }

  .container-right-col {
    overflow: hidden;
  }
}
