/* -------------------- */
/* COLORS */
/* -------------------- */
$primary: #2962FF;
$secondary: #455A64;
$danger: #D32F2F;
$dark-primary: #090F31;
$dark-secondary : #3F3F3F;
$dark-tertiary: #4F4F4F;
$light-primary: #E0E0E0;
$light-secondary: #9E9E9E;
$light-tertiary: #AEAEAE;
$background-light: #FAFBFD;
